@import 'bootstrap-variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body, h1, h2, h3, h4 {
    font-weight: 300;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid green;
}

.ng-invalid:not(form)  {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
    padding-top: 1%;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre{
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */
/*site*/
.container-fluid {
	height:100%;
}
.jh-card {
	margin:0;
	height:100%;
}
body {
	background-color:rgb(21, 31, 46);//rgb(1, 10, 23);
	height:100%;
	color: #ffffff;
}
.card {
	  background-color: rgba(255, 255, 255, 0);
}
.jh-navbar[_ngcontent-c1] {
	 background-color: rgba(255, 255, 255, 0);
}
.jh-navbar {
	 background-color: rgba(255, 255, 255, 0)!important;
}
.footer {
    border-top: none;
    position: fixed;
    bottom: 5px;
    width: 100%;
}
   html, body {margin:0;padding:0;height:100%;}
span.logo-img {
  /* display:none!important;*/
    height: 23px;
    width: 70px;
}
.navbar-title {
	    letter-spacing: 0.6em;
}
.home-card {
    font-size: larger;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.alert.alert-success, .alert.alert-warning{
	background-color: rgb(255, 252, 236);
    color: #151f2e;}
.cont1 {
	width:100%;
	font-weight:bold;
}
a {
	   color: #ffffff;
}
a:hover {
    color: rgba(167, 177, 218, 0.7);
    }
.home-card-panel {
    text-align: center;
    width: 50%;
}
.home-card-container {
    justify-content: center;
    overflow: hidden;
    display: flex;
 }
.home-card:hover + .home-card-container:hover + home-card-panel {
    display:block;
}
.home-card-desc {
    color: rgba(87, 87, 87, 0);
    max-height: 30px;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.jh-card {
    margin: 0;
    height: 90%;
}
.pg-title:focus {
    border: none;
    outline: none;
}
.pg-title{
    margin:auto;
    color: #151f2e;
    min-width: 50px;
    text-align:center;
}
.apiList {
   /* border: 1px solid #f5f5f5;
    margin-bottom: 3px;
    border-radius: 5px;*/
    cursor:pointer;
    border: 0;
   // text-decoration-line: overline;
    margin-bottom: 5px!important;
}
li.op-draggable:hover:not(.op-toggled) {
    font-weight: bolder;
}
li.op-draggable.op-toggled {
    cursor: -webkit-grab;
    border: 1px solid white;
    border-right: 10px solid #151f2e;
    border-left-width: 2px;
    border-radius: 10px;
    text-decoration-line: none;
    margin-bottom: 10px;
    margin-left: -2px;
    padding: 5px;
    list-style-type: disc;
    padding-left: 9px;
}
li.op-draggable.op-toggled:active {
    cursor: -webkit-grabbing;
}
.apiList .api-desc {
    font-size: smaller;
    text-decoration-line: none;
    margin-left: 5px;
}
.op-menu-entry {
    margin-bottom:10px;
}
.apiList.toggled .api-title {
    width:100%;
    text-align:right;
}
span.property {
    color: rgba(227, 202, 140, 0.7);
    font-size: smaller;
    vertical-align: top;
}
.prop-io.property {
    color: rgba(187, 235, 255, 0.84);
    font-size: smaller;
    vertical-align: top;
}
.op-help-submenu {
    justify-content: space-around;
    display: flex;
    border: 1px solid #fff;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 5px;
}
.dnd-entry-container {
    height:100%;
    overflow-y: scroll;
}
.op-trash {
    color: #424d5e;
    position: absolute;
    right: 15px;
    top:40px;
    font-size: 40px;
}
jhi-playground {
    width:100%;
    height:100%;
}
.pg-container {
    height: 90%;
    width: 100%;
    display: flex;
    margin-left: 10px;
}
.op-ms {
    border-left: 2px solid white;
    list-style: none;
    margin: 10px 0!important;
    padding-left: 10px!important;
}
.drop-container {
    height: 90%;
    position: relative;
}
.op-content {
    height: 95%;
    position: relative;
}
.op-content.dragtome {
    border: 2px rgba(73, 86, 106, 0.74) dashed;
}
.child {
    color: #151f2e;
    position: relative;
    width: max-content;
    z-index: 2;

}
.op-tp {
    width: max-content;
    padding: 7px;
    background-color: #f5f5f5c2;;
}
.op-tp-api {
    border: 1px solid #151f2e;
    border-radius: 10px;
}
.op-tp-holder {
    border: 1px dashed #151f2e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    line-height: 16px;
}
.op-tp-converter {
    border: 1px dotted #151f2e;
    border-radius: 2px;
    display: flex;
    border-spacing: 5px;
    flex-direction: column;
}
.op-tp .more {
    margin:auto;
    cursor: pointer;
    padding: 0 30%;
}
.op-overoverlay .op-tp .more {
    display:none;
}
.op-tp .content {
    display:none;
    padding:5px;
}
.op-tp .content.open {
    display:block;
}
.op-tp-operation {
    border: 1px solid #151f2e;

    border-radius: 10px;
}
.op-tp-inputContainer {
    border: 1px dashed #151f2e;
    border-radius: 10px;
}
.child div div .property {
    font-size: smaller;
    vertical-align: top;
    color: rgba(10, 107, 104, 0.79);
}
.content .property {
    font-size: smaller;
    vertical-align: top;
    color: rgba(107, 33, 75, 0.79);
}
.ms-o {
    position: absolute;
    top: -20px;
    left: 47%;
    width: 80%;
}
.ms-i {
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 80%;
}
.i-o-bar {
    display: flex;
    justify-content: space-evenly;
    color: #151f2e;
    font-weight: bolder;
}
.topMenu {
    color: rgba(21, 31, 46, 0.42);
    font-weight: bold;
    font-size: smaller;
    cursor: pointer;
    user-select: none;
}
.topMenu {
    position: fixed;
}
.topMenu span {
    margin-right: 10px;
}

.topMenu span.saved-tp {
    color: rgba(73, 168, 212, 0.82);
}
.topMenu span.saved-op {
    color: rgba(236, 82, 82, 0.75);
}

.top-container {
    display: inline-flex;
    width: 100%;
}
.pg-menu-selected {
    text-decoration: overline;
}
.pg-menu {
    margin: 0 10px;
    cursor: pointer;
}
.op-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-image: -webkit-radial-gradient(ellipse, #ffffffa6, #f5f5f5);
    display:none;
}
.op-overlay.open {
    display: block;
}
.op-overoverlay {
    z-index: 7;
}
.op-conv-selector select {
    font-size: small;
    background-color: #f7f7f7;
    color: rgba(130, 88, 48, 0.78);
    border-radius: 4px;
    border: 1px solid;
}
.op-conv-selector .addMap {
        display: flex;
        /* height: 10px; */
        /* margin: auto; */
        /* align-items: center; */
        justify-content: center;
        line-height: 7px;
        border-radius: 2px;
        height: 12px;
        margin-bottom: -8px;
        margin-top: 2px;
        cursor: text;
}
//scrollbar
.dnd-entry-container::-webkit-scrollbar {
     width: 8px;
 }
.dnd-entry-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(198, 198, 198, 0.4);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.dnd-entry-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dbd7cc;
    -webkit-box-shadow: inset 0 0 6px rgba(24, 36, 18, 0.72);
}
.dnd-entry-container::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 241, 200, 0.51);
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(198, 198, 198, 0.4);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dbd7cc;
    -webkit-box-shadow: inset 0 0 6px rgba(24, 36, 18, 0.72);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 251, 220, 0.69);
}
//end scrollbar

// REALTIME
//add thois to component to prevent expanding body
.fullpage-router {
    height: 100%;
    overflow: hidden;
}
span.ws1-date {
    font-size: 0.65em;
    color: #ffffff6b;
    float: right;
}
.admin .ws1-user { color: #e21313; }
.user .ws1-user { color: #e2b137; }
.cont-message { border-top: 1px solid #aed0da66; }
.ws1-user {
    font-size: small;
    font-weight: 400;
}

.inputws1 {
    position: absolute;
    bottom: 10%;
    width: 40%;
    background-color: #f6f6f5f7;
    font-size: small;
    resize: none;
}

//end REALTIME

//
.lilstack {
    background-color: rgb(21, 31, 46);
    border: 3px solid #c3cccda6;
    height: 4em;
    width: 6em;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    color: #b1b9c5;
    text-align: center;
    vertical-align: middle;
    line-height: 3.3em;
    font-weight: 600;
    position: fixed;
    bottom: 2em;
    right: 2.5em;
}
.stack-toggled > .lilstack {
    display:none;
}
.fullstack {
    background-color: rgba(21, 31, 46, 0.84);
    border: 2px solid #c3cccda6;
    height: 4em;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    color: #b1b9c5;
    text-align: center;
    vertical-align: middle;
    line-height: 3.3em;
    font-weight: 600;
    display: none;
    width: 90%;
    position: fixed;
    bottom: 2em;
    right: 3.5em;
}
.stack-toggled > .fullstack {
    display:block;
}
.stack {
    position: fixed;
    bottom: 2em;
    right: 3.5em;
}
//DOCUMENTATION
.documentation-container {
    height: 100%;
    overflow: auto;
    margin-left: 8%;
    padding-right: 2%;
    padding-bottom: 5%;
}
p.doc-title {
    font-size: x-large;
    font-weight: bolder;
    letter-spacing: 2px;
    padding-top: 1%;
    border-bottom: 3px solid #fff;
    width: fit-content;
}
/*
.jhi-card {
    overflow:hidden!important;
}
*/
.footer-container {
    color: #c4ccd0;
}
.center-spans span {
    margin: 0 2%;
}
.center-spans {
    text-align: center;
    align-items: center;
    margin: 0 33%;
}
.menu__item-label {
    justify-content: center!important;
    margin: 0 10px;
}
.modal-content {
    background-color: #445b61;
}
.op-tp.op-tp-button button {
    border-radius: 5px;
    background: #d3dbe8e8;
    color: #151f2e;

}
.op-tp.op-tp-button button:focus {
    /*outline: 2px dashed #151f2e;
    outline-offset: 2px;*/
    outline:none;
}

.op-tp.op-tp-button {
    background: #fff0;

}
span.property.prop-io.prop-op:hover {
    color: rgba(245, 229, 199, 0.84);
}
          .prop-io.prop-op.property {
              color: rgba(187, 235, 255, 0.84);
              font-size: smaller;
              vertical-align: top;
              cursor: pointer;
          }

.op-menu-entry {
    border-bottom: 1px solid white;
    margin:10% 0 0 !important;
}
.op-menu-entry li {
    font-size: 0.95em;
}
.tp-text-out {
    min-width: 130px;
    min-height: 50px;
    border: 1px solid #687384;
    border-radius: 10px;
}
.op-tp {
    display: flex;
    flex-direction: column;
}
.connect-fa:hover {
    color: #e38e27e3;
}

.connect-fa {
    display:none;
    color: #7393a4;
    font-size: small;
    margin: 2px auto;
}
.op-tp:hover .connect-fa {
    display:block;
}
 .tp-linked:hover .tp-input-linked-value {
     display:block;
 }
.connect-fa.tp-connect-active {
    display: block;
    color: #e38e27e3;
}
.op-io-active span.property.prop-io.prop-op {
    color: #e8c293;
}
.op-io-container-active .prop-io-cont:not(.op-io-active) {
    display:none;
}
.prop-io-cont.op-io-active .prop-op:hover {
    color: #ff734b!important;
}
.tp-linked .connect-fa{
    display:none!important;
}
.tp-input-linked-op {
    font-size: 0.7em;
    font-weight: bolder;
    display: block;
    margin: auto;
}
.tp-input-linked-value {
    font-size: 0.7em;
    display: none;
    margin:auto;
}
span.tp-input-linked-value input {
    width: 40px;
    line-height: 5px;
    height: 1.5em;
    border: none;
    border-bottom: 1px solid #778293;
}


.op-tp-public-api {
    border: 1px solid #4eb1c5;
}
.op-tp-public-api:hover .op-api-param {
    display:block;
}
.op-api-param {
    font-size: 0.7em;
    display: none;
    margin:auto;
}
.op-api-param input {
    width: 40px;
    line-height: 5px;
    height: 1.5em;
    border: none;
    border-bottom: 1px solid #938d8a;
}

.op-desc-count {
    margin: auto;
    display: grid;
}
    .op-desc-cont:hover .op-desc-value {
        display: flex;
    }
    .op-desc-value {
        color: #151f2e;
        display: none;
        padding-top: 20px;
        margin-top: -10px;
    }

.op-desc-cont {
    margin: auto;
}
textarea.op-desc {
    border: 1px solid #ffffff4d;
    border-bottom: 1px solid #293b56;
    outline: none;
    font-size: small;
    font-weight: lighter;
    resize:both;
}
.testMode {
    .op-desc, .op-desc-count, .tp-input-linked-op, .tp-input-linked-value, .connect-fa{
        display:none!important;
    }
    button.tp-input {
        cursor: pointer;
    }
}
.test.try {
    font-weight:bolder;
    letter-spacing: 1px;
    color : #6dadc5;
}
.dsb-desc {
    display: flex;
    flex-direction: column;
    margin: 2% 4%;
}
.dsb-grid-child {
    width: 29%;
    cursor: pointer;
    text-align: center;
    border: 1px solid #fff;
    margin: 2%;
    padding: 2%;
    display:inline-block;
}
.dashboard-container {
    height: 95%;
    overflow: auto;
}
.dsb-toggled {
    width: 95.5%;
}
.dsb-grid-content {
    display:none;
    margin-top:20px;
}
.dsb-toggled .dsb-grid-content {
    display:block;
}
.dsb-add {
    margin: 10px;
    background: #0c213c;
    color: #ffffffed;
    font-size: smaller;
    padding: 5px 15px;
    border-radius: 5px;
}
.dsb-json {
    color:#fff;
    background-color: rgba(206, 206, 182, 0.17);
    text-align:left;
}
.dsb-json input {
    color: #fdfdfd;
    background-color: rgb(52, 61, 69);
    border:none;
}
.dsb-json input:focus {
   outline:none;
    border-bottom:1px solid #fff;
}


.dsb-declare-api-form .dsb-api-param {
    padding: 0 30%;
    margin-right: 10%;
    text-align: right;
}
.dsb-declare-api-form input {
    min-width: 10ch;
    background: #151f2e;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 5ch;
    color: #fff;
}
.dsb-declare-api-form span:not(.dsb-api-title){
    padding-bottom: 10px;

}
span.dsb-api-title {
    margin-top: 20px;
    display: block;
    text-decoration: underline;
    font-weight: bolder;
}
.dsb-remove-param {
    float:right;
    margin-right: 20%;
    clear:both;
}
.dsb-api-param-cont {
    margin-top:20px;
}

.pl-square {
    float: left;
    position: relative;
    width: 90px;
    padding-bottom: 90px;
    margin: 1.66%;
    background-color: #e5e6ea;
    overflow: hidden;
    border-radius: 10px;
    color: #151f2e;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    display:inline-block;
}

.pl-content {
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 5%;
    margin: 5%;

}
.pl-table{
    display:table;
    width:100%;
    height:100%;
}
.pl-table-cell{
    display:table-cell;
    vertical-align:middle;
}

.pl-container {
    height: 80%;
    position: relative;
    color: #fff;
    background-color: #151f2e;
    flex-direction: column;
    padding-left: 2%;
    display: flex;
    justify-content: space-evenly;
}
.pl-view {
    width: 98%;
    background-color: #151f2e;
    border: 2px solid #e1eff4;
    border-radius: 5px;
}

.pl-legend-svg svg {
    margin: auto;
    display: block;
}
.pl-legend-svg i {
    margin: auto;
    display: table;
}
.pl-legend-svg.ppl {
    height:20px;
}
.pl-legend-svg.bdt circle, .pl-pl-svg.data-transformation circle {
    stroke: rgb(83, 110, 140);
}
.pl-legend-svg.mdt circle, .pl-pl-svg.model-training circle{
    stroke: rgb(189, 185, 160);
}
.pl-legend-svg.dbt circle, .pl-pl-svg.database-transaction circle {
    stroke: rgb(108, 138, 98);
}
.pl-legend-svg.out circle, .pl-pl-svg.output circle {
    stroke: rgb(127, 70, 69);
}
.pl-pl-svg.endpoint circle{
    stroke: #fff;
}

.pl-legend {
    justify-content: space-around;
    display: flex;
    padding: 0 10%;
}
.pl-pipeline {
    height:5px;
    width:15px;
    background-color:#fff;
}
.pl-item, .pl-item div, .pl-item-container {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.pl-item svg:hover circle {
    stroke:#ff7e17e0;
}
.pl-item .pl-pipeline:hover {
    background-color:#ff7e17e0;
}
.pl-item-container .pl-pipeline.first {
    pointer-events: none;
}
svg.pl-item-active circle{
    stroke:#ff7e17e0!important;
}
circle.pl-item-active{
    stroke:#ff7e17e0!important;
}
.pl-pipeline.pl-item-active{
    background-color:#ff7e17e0;
}
.pl-item-text {
    position: absolute;
    bottom: 27px;
    transform: rotate(-90deg);
    transform-origin: bottom left 0;
    font-size: smaller;
    font-weight: bolder;
    color: #bdbdbd;
    text-align: start;
    left: 19px;
}
span.pl-save {
    float: right;
    font-size: small;
    color: #c5c5c5;
    margin-right: 20px;
    cursor: pointer;
}
.pl-container .ppl-name.running {
    color: #5bff46;
}

.pl-form {
    height: 75%;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    border: 1px solid #fff;
    padding: 5%;
    z-index: 100;
}
.pl-overlay {
    z-index: 99;
    width: 97%;
    height: 100%;
    position: absolute;
    background-color: #151f2e;
    opacity: 0.8;
}
.pl-square:hover {
    border: 3px solid #28c1af;
    padding-bottom: 84px;
}
